body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #ffe4ec, #ffd6e8, #fff0f6);
  margin: 0;
  padding: 2rem;
  text-align: center;

  /* Centrar verticalmente el contenido */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo {
  color: #d9003f;
  margin-bottom: 2rem;
}

.certificado-box {
  max-width: 700px;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(255, 78, 114, 0.2);
  overflow: hidden;
}

.img-certificado {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1rem;
}

.btn-regresar {
  background: var(--degradado);
  border: none;
  color: white;
  padding: 0.8rem 2.5rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-decoration: none;
  display: inline-block;
  width: fit-content;

  margin-top: 2rem; /* espacio arriba del botón */
}


.btn-regresar:hover {
  transform: scale(1.05);
  background: linear-gradient(100deg, #ff2e59 20%, #d9003f 80%);
  color: white;
  text-decoration: none;
}
